
@{
    ViewData["Title"] = "Teacher Dashboard";
}
<br />
<br />
<h1 align="center">Teacher Dashboard</h1>
<br />
<br />
<h4>Teacher Information</h4>
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("Index", "Profile")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/profile.png" alt="Profile Image" />
            <br /> <br />
            <h5>Profile</h5>
        </a>
    </div>

    <div class="tile">
        <a href="@Url.Action("TeacherTimetable", "Enrollements")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/timetable.png" alt="Timetable Image" />
            <br /> <br />
            <h5>Timetable</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("TeachPrevEnrollements", "Enrollements")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/prevenrollments.png" alt="Enrollments History Image" />
            <br /> <br />
            <h5>Enrollment History</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("TeacherStudentsGrades", "Grades")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/grades.png" alt="Manage Grades Image" />
            <br /> <br />
            <h5>Manage Grades</h5>
        </a>
    </div>
</div>
<br />

<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("ClassroomTimetable", "Classrooms")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/classroomavailability.png" alt="Classroom Availability Image" />
            <br /> <br />
            <h5>Classroom Timetables</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Courses")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/courses.png" alt="Courses Image" />
            <br /> <br />
            <h5>Courses</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Prerequisites")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/prerequisite.png" alt="Prerequisites Image" />
            <br /> <br />
            <h5>Prerequisites</h5>
        </a>
    </div>
    <div class="tile-invisible">
    </div>
</div>
<br />
<br />
<h4>Contact Information</h4>
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("Index", "Teachers")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/teacher.png" alt="Teachers Image" />
            <br /> <br />
            <h5>Teachers</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Administrators")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/admin.png" alt="Administrators Image" />
            <br /> <br />
            <h5>Administrators</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Students")" class="btn btn-secondary-profile" role="button">
            <br />
            <img src="/images/students.png" alt="Students Image" />
            <br /> <br />
            <h5>Students</h5>
        </a>
    </div>
    <div class="tile-invisible">
    </div>
</div>