@model SkylineAcademy.Models.Administrator

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>
<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afname)
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aaddress)
            </dd>
            <dt class="col-sm-2">
                Phone Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aphonenumber)
            </dd>
        }
        else if (User.IsInRole("SuperAdmin"))
        {
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aaddress)
            </dd>
            <dt class="col-sm-2">
                Phone Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aphonenumber)
            </dd>
        }
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aphonenumber)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aemail)
        </dd>
        <dt class = "col-sm-2">
            Job
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.Jname)
        </dd>
    </dl>
</div>
<br />
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.AdministratorId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
else if (User.IsInRole("Super Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.AdministratorId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
}
else
{
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
