@model IEnumerable<SkylineAcademy.Models.TeacherAvailability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot.SlotId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherAvailabilityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherAvailabilityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherAvailabilityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
