@model SkylineAcademy.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<br/ >
<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tfname)
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tlname)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taddress)
            </dd>
            <dt class="col-sm-2">
                Phone Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tphonenumber)
            </dd>
        }
        else if (User.IsInRole("SuperAdmin"))
        {
            <dt class="col-sm-2">
                Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taddress)
            </dd>
            <dt class="col-sm-2">
                Phone Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tphonenumber)
            </dd>
        }
        <dt class = "col-sm-2">
            Head of Faculty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ishead)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Faculty
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Fname)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.TeacherId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
else if (User.IsInRole("Super Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.TeacherId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
}
else
{
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
