@model SkylineAcademy.Models.ClassSchedule

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>

<div>
    <h4>ClassSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Course ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            Administrator ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdministratorId)
        </dd>
        <dt class = "col-sm-2">
            Teacher ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherId)
        </dd>
        <dt class = "col-sm-2">
            Classroom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassroomId)
        </dd>
        <dt class = "col-sm-2">
            Semester
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            Academic Year
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Academicyear)
        </dd>
        <dt class = "col-sm-2">
            Slot
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot.SlotId)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
else if (User.IsInRole("Super Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
}
else
{
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
