
@{
    ViewData["Title"] = "Administrator Dashboard";
}

<br />
<br />
<h1 align="center">Administrator Dashboard</h1>
<br />
<br />
<h4>Administrator Manager</h4>
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("Index", "Administrators")">
            <br />
            <img src="/images/admin.png" alt="Administrator Image" />
            <br /> <br />
            <h5>Manage Administrators</h5>
        </a>
    </div>

    <div class="tile">
        <a href="@Url.Action("Index", "Teachers")">
            <br />
            <img src="/images/teacher.png" alt="Teacher Image" />
            <br /> <br />
            <h5>Manage Teachers</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Students")">
            <br />
            <img src="/images/students.png" alt="Student Image" />
            <br /> <br />
            <h5>Manage Students</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Departments")">
            <br />
            <img src="/images/department.png" alt="Departments Image" />
            <br /> <br />
            <h5>Manage Departments</h5>
        </a>
    </div>
</div>
<br />
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("Index", "Jobs")">
            <br />
            <img src="/images/job.png" alt="Jobs Image" />
            <br /> <br />
            <h5>Manage Jobs</h5>
        </a>
    </div>

    <div class="tile">
        <a href="@Url.Action("Index", "Faculties")">
            <br />
            <img src="/images/faculty.png" alt="Faculties Image" />
            <br /> <br />
            <h5>Manage Faculties</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Majors")">
            <br />
            <img src="/images/majors.png" alt="Majors Image" />
            <br /> <br />
            <h5>Manage Majors</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Courses")">
            <br />
            <img src="/images/courses.png" alt="Courses Image" />
            <br /> <br />
            <h5>Manage Courses</h5>
        </a>
    </div>
</div>
<br />
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("Index", "Prerequisites")">
            <br />
            <img src="/images/prerequisite.png" alt="Prerequisites Image" />
            <br /> <br />
            <h5>Manage Prerequisites</h5>
        </a>
    </div>

    <div class="tile">
        <a href="@Url.Action("Index", "ClassSchedules")">
            <br />
            <img src="/images/classroom.png" alt="Classess Image" />
            <br /> <br />
            <h5>Manage Schedules</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Classrooms")">
            <br />
            <img src="/images/classroomavailability.png" alt="Classrooms Image" />
            <br /> <br />
            <h5>Manage Classrooms</h5>
        </a>
    </div>
    <div class="tile">
        <a href="@Url.Action("Index", "Enrollements")">
            <br />
            <img src="/images/prevenrollments.png" alt="Enrollements Image" />
            <br /> <br />
            <h5>Manage Enrollments</h5>
        </a>
    </div>
</div>
<br />
<div class="tile-container">
    <div class="tile">
        <a href="@Url.Action("ClassroomTimetable", "Classrooms")">
            <br />
            <img src="/images/classroomavailability.png" alt="Classroom Availability Image" />
            <br /> <br />
            <h5>Classroom Timetables</h5>
        </a>
    </div>
    <div class="tile-invisible">
    </div>    
    <div class="tile-invisible">
    </div>    
    <div class="tile-invisible">
    </div>
</div>