
@{
    ViewData["Title"] = "StudentDashboard";
}
<br />
<h1>Student Dashboard</h1>
<br />
<table class="table">
    <tr>
        <th colspan="3">
            Student Information
        </th>
        <th colspan="3">
            
        </th>
        <th colspan="3">
            
        </th>
    </tr>
    <tr align="center">
        <td>
            <img src="/images/profile.png" alt="Profile Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("StudentIndex", "Profile")">
                <button type="button" class="btn btn-light">Profile</button></a>

        </td>
        <td>
            <img src="/images/timetable.png" alt="Timetable Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("StudentSchedules", "Enrollements")">
                <button type="button" class="btn btn-light">Timetable</button>
            </a>
            <br />
        </td>
        <td>
            <img src="/images/prevenrollments.png" alt="Enrollements History Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("StuPrevEnrollements", "Enrollements")">
                <button type="button" class="btn btn-light">Enrollement History</button></a>

        </td>
    </tr>
    <tr align="center">
        <td>
            <img src="/images/grades.png" alt="Grades Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Grades")">
                <button type="button" class="btn btn-light">Grades</button>
            </a>

        </td>
        <td>
            <img src="/images/courses.png" alt="Courses Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Courses")">
                <button type="button" class="btn btn-light">Courses</button>
            </a>
            <br />
        </td>
        <td>
            <img src="/images/prerequisite.png" alt="Prerequisites Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Prerequisites")">
                <button type="button" class="btn btn-light">Prerequisites</button></a>

        </td>
    </tr>
    <tr>
        <th colspan="3">
            Contant Information
        </th>
        <th colspan="3">
            
        </th>
        <th colspan="3">
            
        </th>
    </tr>
    <tr align="center">
        <td>
            <img src="/images/teacher.png" alt="Teachers Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Teachers")">
                <button type="button" class="btn btn-light">Teachers</button>
            </a>

        </td>
        <td>
            <img src="/images/admin.png" alt="Administrators Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Administrators")">
                <button type="button" class="btn btn-light">Administrators</button>
            </a>
            <br />
        </td>
        <td>
            <img src="/images/students.png" alt="Students Image" />
        </td>
        <td colspan="2">
            <a href="@Url.Action("Index", "Students")">
                <button type="button" class="btn btn-light">Students</button>
            </a>

        </td>
    </tr>
</table>
